<div class="container__finances">
    <p style="font-weight: 900;">Добро пожаловать в наш финансовый отдел! <br> Пожалуйста, выберите интересующую вас
        информацию </p>
    <div class="container__finances__chooses">
        <div class="item">
            <h3>Затраты</h3>
            <div class="item__container">
                <button mat-flat-button class="item__container__button">По временам года</button>
                <button mat-flat-button class="item__container__button">По секциям</button>
                <button mat-flat-button class="item__container__button">Подробно(ред.)</button>
            </div>
        </div>
        <div class="item">
            <h3>Выручка</h3>
            <div class="item__container">
                <button mat-flat-button class="item__container__button">По временам года</button>
                <button mat-flat-button class="item__container__button">По породе</button>
                <button mat-flat-button class="item__container__button">Подробно(ред.)</button>
            </div>
        </div>
        <div class="item">
            <h3>Прибыль</h3>
            <div class="item__container">
                <button mat-flat-button class="item__container__button">По временам года</button>
                <button mat-flat-button class="item__container__button">Подробно(ред.)</button>
            </div>
        </div>
    </div>
    <div class="container__finances__layout">
        <ng-container *ngFor="let item of array; track: item">
            <ng-container *ngIf="item['Время_года']">
                <div class="item__wrapper">
                    <h4 class="season__time">Время года: <span class="normal__weight">{{item["Время_года"]}}</span></h4>
                    <h4 class="season__section">Затраты в секциях: <span class="normal__weight">{{item["Секция_идентификатор"]}}</span></h4>
                    <h4 class="season__cost">Сумма_затрат: <span class="normal__weight">{{item["Объем_затрат"]}} руб.</span></h4>
                </div>
            </ng-container>
            <ng-container *ngIf="item['Описание_Затрат_и_Сумма']">
                <div class="item__wrapper">
                    <h4 class="section__section">Секция: <span class="normal__weight">{{item["Секция_Идентификатор"]}}</span></h4>
                    <h4 class="section__cost">Сумма: <span class="normal__weight">{{item["Объем_затрат"]}} руб.</span></h4>
                    <h4 class="section__info">Описание(сумма): <span class="normal__weight">{{item["Описание_Затрат_и_Сумма"]}}</span></h4>
                </div>
            </ng-container>
            <ng-container *ngIf="item['Идентификатор']">
                <div class="item__wrapper item__wrapper2" (click)="edit_item(item)">
                    <h4 class="section__section">Описание: <span class="normal__weight">{{item["Описание"]}}</span></h4>
                    <h4 class="edit__cost">Сумма: <span class="normal__weight">{{item["Сумма"]}} руб.</span></h4>
                    <h4 class="edit__date">Дата: <span class="normal__weight">{{formatDate(item["Дата"])}}</span></h4>
                    <h4 class="edit__section">Секция: <span class="normal__weight">{{item["Секция_Идентификатор"]}}</span></h4>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>