<div class="main__wrapper">
    <div class="container__ferma">
        <div class="container__ferma__header">
            <h2>Только качественная и свежая продукция</h2>
            <h3>Лучшие корма для животных</h3>
        </div>
    </div>
    <div class="container__about">
        <div class="container__about__wrapper">
            <div class="container__about__wrapper__pic">
                <app-carousel [images]="images"></app-carousel>
            </div>
            <div class="container__about__wrapper__text">
                <h2>О нас</h2>
                <p>Мы - сельскохозяйственное предприятие, посвященное разведению и уходу за скотом высокого качества.
                    Наша ферма является домом для множества животных, включая коров, кур и другой скот. Мы гордимся тем,
                    что
                    обеспечиваем наших животных заботой и вниманием, создавая для них комфортные условия проживания.
                </p>
                <p>У нас на ферме реализованы самые современные методы ухода за животными. Мы проводим регулярные
                    медицинские осмотры и обеспечиваем животных высококачественным и отборным кормом. Наше производство
                    строго контролируется, и мы тщательно следим за качеством выпускаемой нами продукции.
                </p>
                <p>Наша цель - не просто производство, а создание условий для счастливой и здоровой жизни наших
                    животных. Мы уверены, что только благополучные животные способны дать нашим клиентам продукцию
                    высочайшего качества.
                </p>
            </div>
        </div>
    </div>
</div>