<div class="wrapper">
    <h1 mat-dialog-title class="headline">Запись в БД</h1>
    <div mat-dialog-content>

        <form [formGroup]="cost" class="wrapper__form">

            <mat-form-field>
                <mat-label>Описание</mat-label>
                <input matInput formControlName="cost_info">
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>Сумма</mat-label>
                <input type="number" matInput formControlName="cost_price">
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>Дата</mat-label>
                <input matInput formControlName="cost_time">
            </mat-form-field>

            <br>

            <mat-form-field *ngIf="data.item['Секция_Идентификатор']">
                <mat-label>Секция</mat-label>
                <input type="number" matInput formControlName="cost_section">
            </mat-form-field>

            <mat-form-field *ngIf="data.item['Животное_Идентификатор']">
                <mat-label>Животное(ID)</mat-label>
                <input type="number" matInput formControlName="cost_animal_id">
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="action__buttons">
        <button mat-button class="button item item__cancel" (click)="onNoClick()">Cancel</button>
        <button mat-button class="button item item__ok" [disabled]="validateFnc()" (click)="onOK()">Ok</button>
    </div>
</div>